In [16]:
import pandas as pd
from yahoo_fin.stock_info import get_data

In [17]:
amazon_weekly= get_data("aapl", start_date="12/04/2009", end_date="12/04/2019", index_as_date = True, interval="1d")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2009-12-04,7.132142,7.138571,6.795714,6.904285,5.829587,827106672,AAPL
2009-12-07,6.904285,6.920357,6.738571,6.748214,5.697809,714758632,AAPL
2009-12-08,6.751428,6.869642,6.739285,6.781071,5.725552,690397120,AAPL
2009-12-09,6.830357,7.077142,6.796785,7.064285,5.964682,684780740,AAPL
2009-12-10,7.131785,7.132142,7.004285,7.015357,5.923372,489668620,AAPL
...,...,...,...,...,...,...,...
2019-11-26,66.735001,66.790001,65.625000,66.072502,64.116585,105339528,AAPL
2019-11-27,66.394997,66.995003,66.327499,66.959999,64.977821,65544488,AAPL
2019-11-29,66.650002,67.000000,66.474998,66.812500,64.834694,46617452,AAPL
2019-12-02,66.817497,67.062500,65.862503,66.040001,64.085045,94774200,AAPL
2019-12-03,64.577499,64.882500,64.072502,64.862503,62.942402,117509072,AAPL

In [18]:
import yfinance as yf
aapl= yf.Ticker("aapl")
aapl_historical = aapl.history(start="2024-06-10", end="2024-07-16", interval="2m")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-06-10 09:30:00-04:00,197.199997,197.281693,196.410004,196.753494,3481896,0.0,0.0
2024-06-10 09:32:00-04:00,196.770004,196.960007,196.360001,196.880005,748446,0.0,0.0
2024-06-10 09:34:00-04:00,196.875000,196.939896,196.580002,196.590302,403320,0.0,0.0
2024-06-10 09:36:00-04:00,196.619995,196.679993,196.163696,196.244995,631790,0.0,0.0
2024-06-10 09:38:00-04:00,196.240005,196.330002,195.880005,195.880997,535666,0.0,0.0
...,...,...,...,...,...,...,...
2024-07-15 15:50:00-04:00,233.669998,233.669998,233.169998,233.199997,506256,0.0,0.0
2024-07-15 15:52:00-04:00,233.210007,233.649994,233.089996,233.619995,528549,0.0,0.0
2024-07-15 15:54:00-04:00,233.619995,234.500000,233.490005,234.190002,653973,0.0,0.0
2024-07-15 15:56:00-04:00,234.199997,234.358902,234.130005,234.225006,390418,0.0,0.0
2024-07-15 15:58:00-04:00,234.240005,234.490005,233.919998,234.419998,1362713,0.0,0.0